*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Rubik', sans-serif;
    background-color:  hsl(226, 43%, 10%);
    color: hsl(236, 100%, 87%);
}