*, *::after, *::before { /*pega tudo na página, até partes especiais, e aplica estilo a eles*/
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Rubik', sans-serif;
    background-color: hsl(226, 43%, 10%);;
    color: #fff;
    display: grid;
    place-items: center;
    min-height: 100vh;
    padding: 1rem;
}

.container {
    display: flex;
    flex-wrap: wrap; /*Organiza itens flexíveis em várias linhas quando não há espaço suficiente, útil para layouts adaptáveis.*/
    gap: clamp(1rem, 3vw, 2rem) /*Estabelece um espaçamento uniforme entre itens flexíveis, melhorando o alinhamento visual.*/
}

.card {
    background-color: hsl(235, 46%, 20%);
    border-radius: 1rem;
}

.card--avatar{
    display: flex;
    flex-direction: column; /* define a direção dos itens no contêiner flexível*/
    justify-content: space-between;
}

.card--avatar-top {
    background:  hsl(246, 80%, 60%);
}

.card--avatar-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

}